/* FONTS */

@font-face {
  font-family: 'Circe';
  src: url('(../fonts/Circe-Light.eot');
  src: local('Circe Light'), local('Circe-Light'),
      url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Circe-Light.woff2') format('woff2'),
      url('../fonts/Circe-Light.woff') format('woff'),
      url('../fonts/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Extra';
  src: url('../fonts/Circe-ExtraBold.eot');
  src: local('Circe Extra Bold'), local('Circe-ExtraBold'),
      url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Circe-ExtraBold.woff2') format('woff2'),
      url('../fonts/Circe-ExtraBold.woff') format('woff'),
      url('../fonts/Circe-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Thin.eot');
  src: local('Circe Thin'), local('Circe-Thin'),
      url('../fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Circe-Thin.woff2') format('woff2'),
      url('../fonts/Circe-Thin.woff') format('woff'),
      url('../fonts/Circe-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.eot');
  src: local('Circe'), local('Circe-Regular'),
      url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Circe-Regular.woff2') format('woff2'),
      url('../fonts/Circe-Regular.woff') format('woff'),
      url('../fonts/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.eot');
  src: local('Circe Bold'), local('Circe-Bold'),
      url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Circe-Bold.woff2') format('woff2'),
      url('../fonts/Circe-Bold.woff') format('woff'),
      url('../fonts/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RoadRadio';
  src: url('../fonts/RoadRadio.eot');
  src: local('RoadRadio'),
      url('../fonts/RoadRadio.eot?#iefix') format('embedded-opentype'),
      url('../fonts/RoadRadio.woff2') format('woff2'),
      url('../fonts/RoadRadio.woff') format('woff'),
      url('../fonts/RoadRadio.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RoadRadio';
  src: url('../fonts/RoadRadio-Light.eot');
  src: local('RoadRadio Light'), local('RoadRadio-Light'),
      url('../fonts/RoadRadio-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/RoadRadio-Light.woff2') format('woff2'),
      url('../fonts/RoadRadio-Light.woff') format('woff'),
      url('../fonts/RoadRadio-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RoadRadio';
  src: url('../fonts/RoadRadio-Thin.eot');
  src: local('RoadRadio Thin'), local('RoadRadio-Thin'),
      url('../fonts/RoadRadio-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/RoadRadio-Thin.woff2') format('woff2'),
      url('../fonts/RoadRadio-Thin.woff') format('woff'),
      url('../fonts/RoadRadio-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'RoadRadio';
  src: url('../fonts/RoadRadio-Black.eot');
  src: local('RoadRadio Black'), local('RoadRadio-Black'),
      url('../fonts/RoadRadio-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/RoadRadio-Black.woff2') format('woff2'),
      url('../fonts/RoadRadio-Black.woff') format('woff'),
      url('../fonts/RoadRadio-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'RoadRadio';
  src: url('../fonts/RoadRadio-Bold.eot');
  src: local('RoadRadio Bold'), local('RoadRadio-Bold'),
      url('../fonts/RoadRadio-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/RoadRadio-Bold.woff2') format('woff2'),
      url('../fonts/RoadRadio-Bold.woff') format('woff'),
      url('../fonts/RoadRadio-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


.-circe-r{font-family: 'Circe'; font-weight: normal;}
.-circe-l{font-family: 'Circe'; font-weight: 300;}
.-circe-b{font-family: 'Circe'; font-weight: bold;}



.-road-r{font-family: 'RoadRadio'; font-weight: normal;}
.-road-l{font-family: 'RoadRadio'; font-weight: 300;}
.-road-b{font-family: 'RoadRadio'; font-weight: bold;}






::selection {background: #2C2C2C; color:#fff;}
::-moz-selection {background: #2C2C2C; color:#fff;}


/* font-size */
.-fs-75{font-size: 75px;}
.-fs-70{font-size: 70px;}
.-fs-35{font-size: 35px;}
.-fs-25{font-size: 25px;}
.-fs-18{font-size: 18px;}
.-fs-21{font-size: 21px;}


/* body */
html, body {font-family: 'Circe'; font-weight: normal; font-size: 16px; color: #040606; line-height: 1.4; max-width: 1920px; min-width: 320px; margin: 0 auto; position: relative; background: #fff; overflow-x: hidden;}


/* title */
h1, .h1 {font-family: 'RoadRadio'; font-size: 75px; color: #040606; margin-bottom: 50px; letter-spacing: 0.02em; text-transform: uppercase;}
h2, h3, h4{font-family: 'RoadRadio'; font-weight: bold; color: #040606; text-transform: uppercase;}
h2, .h2{font-size: 36px;}
h3, .h3{font-size: 36px;}



.section__title{font-family: 'RoadRadio'; font-size: 50px; color: #040606; position: relative; padding-bottom: 40px; line-height: 1.1; letter-spacing: 0.02em; text-transform: uppercase;}




/* color */

.-white{color: #fff;}
.-red{color: #EA1B44;}

/* background */
.-bg-white{background: #fff;}
.-bg-gray{background: #F9F9F9;}


/* more */
.-fullwidth {width:100%;}
.-right{text-align: right;}
.-left{text-align: left;}
.-center{text-align: center;}

.pt-4{padding-top: 2rem!important;}
.pt-6{padding-top: 5rem!important;}
.-h-100{height: 100%;}
img{max-width:100%;}
p{margin-bottom: 1.6rem;}

/* containers */
.main{}
.page .main{padding-top: 60px;}
.container {max-width: 1520px; padding-left: 40px; padding-right: 40px;}
.container-fluid{padding: 0;}
.section{position: relative; padding-top: 150px;}


/* links, buttons */
a {color: #040606; text-decoration: none; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;}
a:hover:not(.btn), a:focus:not(.btn) {text-decoration: none; color: #EA1B44; outline: none; border-bottom: 1px solid #EA1B44;}

button, .btn{text-decoration:none; cursor:pointer; text-align:center; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; }
button:hover, button:focus, .btn:hover, .btn:focus{outline: none; text-decoration: none; box-shadow:none;}

.btn-primary{position: relative; background: #EA1B44; color: #fff; border-radius: 0; padding: 23px 40px; border: none; font-weight: 700; font-size: 12px; text-transform: uppercase; letter-spacing: 0.05em;}
.btn-primary:focus, .btn-primary.focus {background: #040606; color: #fff; border: none; box-shadow: none;}
.btn-primary:hover,.btn-primary:focus:hover, .btn-primary.focus:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus {background: #040606; color: #fff; border: none; box-shadow: none;}


.btn-pdf{position: relative; background: #EA1B44; color: #fff; border-radius: 0; padding: 23px 40px; border: none; font-weight: 700; font-size: 12px; text-transform: uppercase; letter-spacing: 0.05em;}
.btn-pdf:before{content: ''; background: url(../i/pdf.svg) no-repeat center; width: 16px; height: 16px; margin-right: 10px; display: inline-block; vertical-align: middle;}
.btn-pdf:focus, .btn-pdf.focus {background: #040606; color: #fff; border: none; box-shadow: none;}
.btn-pdf:hover,.btn-pdf:focus:hover, .btn-pdf.focus:hover, .btn-pdf:not(:disabled):not(.disabled):active, .btn-pdf:not(:disabled):not(.disabled):active:focus, .btn-pdf:not(:disabled):not(.disabled).active:focus {background: #040606; color: #fff; border: none; box-shadow: none;}




/* .btn-primary{position: relative; background: transparent; color: #fff; border-radius: 0; padding: 16px 40px; border: 1px solid #FFFFFF; font-size: 18px;}
.btn-primary:before {content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #3DBFCB; -webkit-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}

.btn-primary:focus, .btn-primary.focus {background: transparent; color: #fff; border: 1px solid #3DBFCB; box-shadow: none;}
.btn-primary:hover,.btn-primary:focus:hover, .btn-primary.focus:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus {background: transparent; color: #fff; border: 1px solid #3DBFCB; box-shadow: none;}
.btn-primary:hover:before, .btn-primary:focus:before, .btn-primary:active:before {-webkit-transform: scaleY(1); transform: scaleY(1);}


.btn-secondary{position: relative; background: transparent; color: #2C2C2C; border-radius: 0; padding: 0 40px; border: 1px solid #2C2C2C; line-height: 60px; font-size: 18px; text-align: center; z-index: 1;}
.btn-secondary:before{content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #2C2C2C; -webkit-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}

.btn-secondary:focus, .btn-secondary.focus{background: transparent; color: #fff; border: 1px solid #2C2C2C; box-shadow: none;}
.btn-secondary:hover,.btn-secondary:focus:hover, .btn-secondary.focus:hover, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus {background: transparent; color: #fff; border: 1px solid #2C2C2C; box-shadow: none; }
.btn-secondary:hover:before, .btn-secondary:focus:before, .btn-secondary:active:before {-webkit-transform: scaleY(1); transform: scaleY(1);} */


.form-control{ border: none; border-bottom: 1px solid; border-radius: 0;}
.form-control:hover, .form-control:focus{outline: none; box-shadow: none;} 

/* checkbox */
/* .ifeedback input[type=checkbox], .ifeedback input[type=radio] {display: none;}
.ifeedback input[type=checkbox] + label:before {content: ""; display: inline-block; width: 25px; height: 25px; background: #fff; border: 1px solid #C4C4C4; border-radius: 5px; box-shadow: none; transition: color ease .3s; vertical-align: middle;}
input[type=radio] + label:after{content: "";display: block; border: 3px solid #fff; box-shadow: 0px 0px 0px 1px #FA6528; border-radius: 50%; background: #fff; height: 20px; width: 20px; transition: color ease .3s;}
.ifeedback input[type=checkbox]:checked + label:before {background: url(../i/check.svg)#fff no-repeat center center;}
input[type=radio]:checked + label:after {background: linear-gradient(93.81deg, #FA6528 0%, #F4851E 100%);} */

/* breadcrumbs */
/* .breadcrumbs{padding-top: 30px; padding-bottom: 36px; background: #F7F7F7;}
.breadcrumb{background-color:transparent; margin-bottom: 0; align-items: center; padding: 0;}
.breadcrumb-item{display: flex; align-items: center;}
.breadcrumb-item + .breadcrumb-item{margin-left: 13px; padding-left: 0;}
.breadcrumb-item a{color: #2F2C2B; font-family: 'Rubik'; text-decoration: none;}
.breadcrumb-item.active{color: #2F2C2B; text-decoration: none;}
.breadcrumb-item+.breadcrumb-item:before{content: ''; color: #000; padding: 0; margin-right: 13px; background: url(../i/bread-arrow.svg) no-repeat center center; width: 13px; height: 8px; display: inline-block; vertical-align: middle;} */


/* popup */
.popup{display: none; max-width: 390px; padding: 25px; background: rgba(243, 242, 240, 1); position: relative; color: #000000;}
.popup__wrap{border: 1px solid #000000; border-radius: 14px; padding: 37px 42px; }
  .popup__title{text-transform: uppercase; color: #000000; position: absolute; top: 84px; left: -42px; background: #f3f2f0; padding: 0 20px;}
  .popup__header{padding-bottom: 23px; color: #000000;}
  .popup__header:before{content: ''; background: url(../i/icon-form-header.svg) no-repeat; width: 25px;height: 18px; display: inline-block; margin-right: 34px;}
  .popup__text{line-height: 1.6; padding-bottom: 16px;}
  
  .popup .form-control{background: transparent; padding-bottom: 10px; border-bottom: 1px solid #A3A3A3;}
  
  .popup .form-control::placeholder{color: #A3A3A3;}
  .popup .form-control + .form-control{margin-top: 28px;}
  .popup .form-control:focus{outline: none!important; border: none; border-bottom: 1px solid #A3A3A3;}
  .popup .btn{margin-top: 40px; font-size: 14px;}
  .popup .btn-primary{padding: 17px 18px 10px;}
  



/* header */
.header{padding-top: 40px; padding-bottom: 40px; border-bottom: 1px solid rgba(4, 6, 6, 0.2);} 
  .-header-row{align-items: center; justify-content: space-between;}
    .-col-logo{width: 20%;}
    .-col-navbar{width: 47%;}
    .-col-contacts{width: 26%;}
    .-col-burger{width: 100px; display: none;}



    .header__logo{}
      a.logotype{text-decoration: none;}
      a.logotype:hover{text-decoration: none; border-bottom: none}

    .header__navbar{}
      .header__menu{}
        .nav-menu{display: flex; list-style-type: none; align-items: center; padding-left: 0;}
          .nav-menu .nav-item{}
            .nav-menu .nav-link{color: #040606; padding: 0; margin-right: 45px; border-bottom: 1px solid transparent;}
            .nav-menu > .nav-item:last-child .nav-link{margin-right: 0;}
            .nav-menu .nav-link:hover{color: #EA1B44; border-bottom: 1px solid #EA1B44;}
            .nav-menu .nav-item.parent{position: relative;}
            .nav-link{position: relative;}
            .nav-menu .nav-item.parent > .nav-link:after{content: ''; background: url(../i/arrow-down-black.svg)no-repeat; width: 9px; height: 8px; display: block; position: absolute; top: 50%; right: -20px; transform:translateY(-50%)}
            .nav-menu .nav-item.parent:hover > .nav-link:after{content: ''; background: url(../i/arrow-down-red.svg)no-repeat; width: 9px; height: 8px;}
              .drop-menu{display: none; position: absolute; top: 100%; left: 0; list-style-type: none; padding-left: 0; padding: 10px; background: #fff; box-shadow: 0 0 5px rgb(4 6 6 / 20%);}
              .nav-menu .nav-item.parent:hover .drop-menu{display: block; }

              .header__contacts{display: flex; align-items: center; max-width: 480px; justify-content: space-between; margin: 0 0 0 auto; position: relative; padding-right: 20px; }
              .header__contacts:after{content: ''; background: rgba(4, 6, 6, 0.2); width: 1px; height: 24px; position: absolute; right: 0; top: 0;}
                .header__contacts a{text-decoration: none; white-space: nowrap; position: relative; border-bottom: 1px solid transparent; margin-left: 24px;}
                .header__contacts a:hover{}
                .header-phone{margin-right: 20px;}
                .header-phone:before{content: ''; background: url(../i/call.svg)no-repeat; width: 14px; height: 14px; position: absolute; top: 50%; transform: translateY(-50%); left: -24px; display: block;}
                .header-mail:before{content: ''; background: url(../i/mail.svg)no-repeat; width: 14px; height: 12px; position: absolute; top: 50%; transform: translateY(-50%); left: -24px; display: block;}

    .header__burger{padding: 0;}
      .burger__icon{margin-right: 10px; background: url(../i/burger.svg)no-repeat; width: 14px; height: 12px; display: inline-block;}
      .burger__txt{}
  .menu-open .burger__icon{background: url(../i/close.svg)no-repeat; width: 14px; height: 14px;}
  .menu-open .burger__txt{display: none;}
  .menu-open .header__burger{margin: 0 0 0 auto; display: block;}


    .drop{background: #fff; position: absolute; right: 0; top: -200%; left: 0;z-index: 4;}
    .drop.active{top: 88px;}
      .drop__menu{padding-top: 40px;}
        .drop__menu .nav-menu{flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 100%;}
        .drop__menu .nav-item{width: 100%; margin-bottom: 20px;}
        .drop__menu .nav-link{text-transform: uppercase; letter-spacing: 0.02em; border-bottom: 0!important}

        .nav-menu .nav-item.parent > .nav-link:after{}

        .drop__menu .drop-menu{position: static; box-shadow: none; }
        .drop__menu .drop-menu .nav-item{margin-bottom: 10px;}
        .drop__menu .drop-menu .nav-item:last-child{margin-bottom: 0;}

        .drop__consult{border-top: 1px solid rgba(4, 6, 6, 0.2); padding-top: 40px; position: relative; min-height: 300px;     display: flex; flex-direction: column; justify-content: space-between;}
          .drop__info{max-width: 67%;}
            .drop__title{text-transform: uppercase; letter-spacing: 0.02em;}
            .drop__subtitle{letter-spacing: 0.02em; text-transform: uppercase; margin-bottom: 15px;}
            .drop__text{opacity: 0.8; color: #040606; margin-bottom: 45px;}
          .drop__img{position: absolute; top: 19px; right: 0;}
          .drop__btn .btn{width: 100%;}
        .drop__contacts{border-top: 1px solid rgba(4, 6, 6, 0.2); padding-top: 40px;}
          .drop-phone{text-decoration: none; white-space: nowrap; position: relative; border-bottom: 1px solid transparent; margin-left: 24px; display: block; margin-bottom: 12px;}
            .drop-phone:before { content: ''; background: url(../i/call.svg)no-repeat; width: 14px; height: 14px; position: absolute; top: 50%; transform: translateY(-50%); left: -24px; display: block; }
          .drop-mail{text-decoration: none; white-space: nowrap; position: relative; border-bottom: 1px solid transparent; margin-left: 24px; display: block;}
            .drop-mail:before { content: ''; background: url(../i/mail.svg)no-repeat; width: 14px; height: 12px; position: absolute; top: 50%; transform: translateY(-50%); left: -24px; display: block; }

        .drop__bottom{margin-top: 80px; padding-bottom: 40px;}

.itop{}
  .itop-row{display: flex; position: relative; justify-content: flex-end;}
    .itop__info{max-width: 577px; width: 100%; position: absolute; top: 0; left: 0;}
      .itop__title{font-family: 'RoadRadio'; font-weight: bold; line-height: 1; letter-spacing: 0.02em; margin-top: -14px;}
      .itop__subtitle{font-family: 'RoadRadio'; letter-spacing: 0.02em; text-transform: uppercase; padding-bottom: 25px;}
      .itop__text{color: #4D4F4F; max-width: 500px;}
      .itop__btn{margin-top: 25px;}
    .itop__img{margin-top: -112px; margin-right: 25px;}
    .itop__img img{position: relative; z-index: 2;}
    .itop__img:before{content: ''; background: url(../i/top2.png)no-repeat center center; width: 145px; height: 185px; display: block; position: absolute; bottom: 60px; z-index: 1; box-shadow: 0 0 31px #f1f1f1;}
    .itop__img:after{content: ''; background: url(../i/top1.png)no-repeat center center; width: 145px;height: 174px; display: block; position: absolute; top: 38%; right: 42px; transform: translateY(-50% ); z-index: 3; box-shadow: 0 0 9px #ebebeb;}


    .itop__list{list-style-type: none; padding-left: 11px; padding-top: 5px;}
      .itop__list li{position: relative; margin-bottom: 60px;}
      .itop__list li:before{content: ''; background: url(../i/list-icon.svg)no-repeat; width: 18px; height: 18px; display: block; margin-bottom: 20px;}


.ipdf{}
  .-ipdf-row{padding: 60px 100px; max-height: 476px;}
    .ipdf__info .section__title{padding-bottom: 20px;}
    .ipdf__text{}
    .ipdf__btn{margin-top: 20px;}
    .ipdf__img{margin-top: -100px; position: relative; width: 987px; margin-left: -50px;}

.iservices{padding-top: 86px;}
  .-iservices-row{margin-left: -25px; margin-right: -25px;}
    .-iservices-col{margin-bottom: 45px; padding-left: 25px; padding-right: 25px;}
      .iservices-item{background: #F9F9F9; padding: 50px; height: 100%;}
        .iservices-title{padding-bottom: 20px; border-bottom: 1px solid rgba(196, 196, 196, 0.5); text-transform: uppercase; min-height: 91px;}
        .iservices-text{padding-top: 20px; line-height: 1.5; color: #040606;}
        .iservices p{margin-bottom: 20px;}
        .iservices ul{list-style: none;padding-left: 15px;}
          .iservices ul li{position: relative; padding-bottom: 15px;}
          .iservices ul li:before{content: ""; background: #EA1B44; display: inline-block; width: 5px; height: 5px; position: absolute; top: 6px; left: -15px;}


.projects{padding-top: 92px;}
  .projects .section__title{line-height: 1.2; padding-bottom: 46px;}
  .section__top{}
    .top-row{display: flex; justify-content: space-between;}
  .projects__tab{}
    .projects__nav{}
      .projects__nav .nav-tabs .nav-link{border: 1px solid #F0F0F0; border-radius: 150px!important; background: #fff; color: #040606; padding: 20px 32px; margin-right: 40px; text-transform: uppercase; font-family: 'RoadRadio'; font-size: 14px;}
      .projects__nav .nav-tabs .nav-link:hover{color: #EA1B44;}
      .projects__nav .nav-tabs .nav-item.show .nav-link, .projects__nav .nav-tabs .nav-link.active{background: #EA1B44; color: #FFFFFF; border: 1px solid #EA1B44; }
      .nav-tabs{border-bottom: none;}
      
    .projects__content{}
      .projects__content .tab-pane{}
        
        .projects__accord{margin-top: 40px;}
          .accord-item{ border-bottom: 1px solid rgba(196, 196, 196, 0.5)}
          .accord-item.hide{display: none;}
          .accord-item:first-child{}
            .accord-header{padding-top: 40px; padding-bottom: 40px; position: relative;}
              .project__name{}
                .project-logo{margin-right: 8px;}
                .project-link{text-transform: uppercase;}
              .project__anons{padding-left: 46px;}
                .project-subtitle{letter-spacing: 0.02em; color: #040606; text-transform: uppercase;}
                .project-text{color: #818282;}
                .project__more{background: url(../i/arrow-black-accord.svg) no-repeat; width: 26px; height: 23px; display: block; position: absolute; top: 50%; right: 0; border:none; transition: all 0.3s; transform: translateY(-50%);}
                .accord-item.active .project__more{background: url(../i/arrow-red-accord.svg) no-repeat; width: 26px; height: 23px; display: block; position: absolute; top: 50%; right: 0; border:none; transform: translateY(-50%) rotate(-180deg);}

            .project__body{padding-top: 10px;}
            .-project-row{justify-content: space-between;}
              .project-video{}
                .video{position: relative;}
                /* .video:after{content:''; background: url(../i/play.svg)no-repeat; width: 72px; height: 72px; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);} */
                .video-caption{padding-top: 15px;}
                  .video-title{padding-bottom: 6px;}
                  .video-text{color: #040606; opacity: 0.5;}
              .project-before{max-width: 329px; margin: 0 0 0 auto; color: #4D4F4F;}
                .project-before ul{margin-top: 15px; padding-left: 24px; list-style-type: none;}
                .project-before ul li{position: relative; padding-bottom: 27px;}
                .project-before ul li:before{content:''; background: url(../i/traffic-signal.svg) no-repeat; width: 12px; height: 12px; position: absolute; top: 4px; left: -24px;}
              .project-after{max-width: 329px; margin: 0 0 0 auto; color: #040606;}
                .project-after ul{margin-top: 15px; padding-left: 27px; list-style-type: none;}
                  .project-after ul li{position: relative; padding-bottom: 27px;}
                  .project-after ul li:before{content:''; background: url(../i/done.svg) no-repeat; width: 15px; height: 15px; position: absolute; top: 4px; left: -27px;}
          .accord-collapse{height: 0; overflow-y: hidden; visibility: hidden; transition: all 0.3s;}
          .accord-collapse.show{height: auto; overflow-y: inherit; visibility: visible;}
          .accord-more{text-align: center; margin-top: 40px;}
            .link-show-more{}
            .link-arrow:after{content: ''; background: url(../i/arrow-more-black.svg) no-repeat; width: 10px; height: 9px; display: inline-block; margin-left: 12px;}
            a.link-show-more:hover{border-bottom: none;}

.iconsult{position: relative; padding-top: 170px;}
.-iconsult-row{min-height: 600px;}
  .iconsult__info{padding: 90px 0 90px 100px; max-width: 600px;}
    .iconsult__title {padding-bottom: 5px; line-height: 1; letter-spacing: 0.02em;}
    .iconsult__subtitle{text-transform: uppercase; }
    .iconsult__text{padding-top: 20px; color: #4D4F4F; margin-bottom: 25px;}
    .iconsult__photo{position: absolute; bottom: 0; left: 43%; }
    .iconsult__person{max-width: 155px; padding-top: 104px; position: relative; z-index: 2; margin-left: 50px;}
      .iconsult__name{text-transform: uppercase; letter-spacing: 0.02em; line-height: 1.2;}
      .iconsult__status{color: #818282; line-height: 1.2; }

               
.ipartners{padding-top: 128px;}
.ipartners .section__title{padding-bottom: 20px;}
.partners__slider{}
.slider__info{color: rgba(4, 6, 6, 0.3); position: relative; padding-left: 60px; display: none;}
.slider__info:before{content: ''; background: url(../i/icon-swipe.svg)no-repeat center center; width: 45px; height: 45px; display: inline-block; position: absolute; top: 0; left: 0; }
.partners__slider .swiper-wrapper{align-items: center; }
  .partners__slider .swiper-slide{text-align: center;}
  .swiper-nav{display: flex;}
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{content: ''; background: url(../i/swiper-right-arrow.svg) no-repeat center center; width: 20px; height: 20px; display: block; }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{content: ''; background: url(../i/swiper-left-arrow.svg)no-repeat center center; width: 20px; height: 20px; display: block; }
    .swiper-button-next:hover, .swiper-button-prev:hover{background: #EA1B44;}

    .swiper-button-next:hover:after{content: ''; background: url(../i/swiper-right-arrow-white.svg)no-repeat center center; width: 20px; height: 20px; display: block; }
    .swiper-button-prev:hover:after{content: ''; background: url(../i/swiper-left-arrow-white.svg) no-repeat center center; width: 20px; height: 20px; display: block; }
    .swiper-button-next{ background: #fff; height: 68px; width: 68px; border: 2px solid #EA1B44;}
    .swiper-button-prev{ background: #fff; height: 68px; width: 68px; border: 2px solid #EA1B44; margin-right: 15px;}
      .swiper-button-next, .swiper-rtl .swiper-button-prev{right: 0;}
      .swiper-button-prev, .swiper-rtl .swiper-button-next{left: 0;}
      .swiper-button-prev, .swiper-button-next{position: static; box-shadow: none!important}


.iteams{padding-top: 100px;}
.iteams-wrap{position: relative;}
  .iteams .section__title{max-width: 540px; width: 100%; position: absolute; top: 116px;left: 0;}
  .team-item{}
  .-team-row{}
    .team__info{margin-top: 346px;}
      .team__name{border-top: 1px solid rgba(196, 196, 196, 0.5); border-bottom: 1px solid rgba(196, 196, 196, 0.5); padding-top: 27px; padding-bottom: 27px;}
        .team-name{text-transform: uppercase; letter-spacing: 0.02em; color: #040606;}
        .team-status{color: #818282;}
      .team__descr{padding-top: 45px;}
      .team__info .team__other{display: none;}

      .team-ttl{text-transform: uppercase;padding-bottom: 10px;}
      .team-txt{color: #818282;}
      ul.team-list{padding-left: 24px; list-style-type: none; padding-bottom: 20px;}
        ul.team-list li{position: relative; color: rgba(4, 6, 6, 0.7);}
        ul.team-list li:before{content: ''; background: url(../i/ul-icon.svg) no-repeat; width: 16px; height: 18px; display: block; position: absolute; top: 5px; left: -24px;}
        ul.team-list li:last-child{padding-bottom: 0;}

      ol.team-list{padding-left: 25px; list-style-type: none; counter-reset: num; padding-bottom: 25px;}
        ol.team-list li{position: relative; color: rgba(4, 6, 6, 0.7); padding-bottom: 26px;}
        ol.team-list li:before{content: counter(num); counter-increment: num; background: #1A7A35; width: 15px; height: 15px; display: block; position: absolute; top: 5px; left: -25px; color: #fff; font-family: 'Roboto'; font-size: 8px; font-weight: 700; display: flex; align-items: center; justify-content: center; border-radius: 50%; line-height: 15px;}
        ol.team-list li:last-child{padding-bottom: 0;}
      .team__other{margin-top: 350px; padding: 30px 0; border-top: 1px solid rgba(196, 196, 196, 0.5); border-bottom: 1px solid rgba(196, 196, 196, 0.5)} 
        .team-gallery{display: flex; align-items: flex-start; padding-top: 25px;}
        .team-gallery img{padding-right: 12px;}

.teams__nav{position: absolute; top: 142px; right: 0; width: 330px;}
  .teams__thumbs{}
    .slider__image{border-radius: 50%; border: 5px solid #fff; overflow: hidden; background: #fff; width: 92px; height: 92px;}
    .swiper-slide-thumb-active .slider__image{background: #EA1B44; border: 5px solid #fff;}
    .teams__thumbs .swiper-slide:hover .slider__image{border: 5px solid #EA1B44;}

    .iteams .swiper-nav{position: absolute; right: 190px; bottom: 157px;}

.widgets{}
  .-widgets-row{margin-left: -50px; margin-right: -50px;}
  .-widgets-col{padding-left: 50px; padding-right: 50px; margin-bottom: 70px;}
  
  .widgets-item{border-top: 1px solid rgba(4, 6, 6, 0.2);  border-bottom: 1px solid rgba(4, 6, 6, 0.2); padding: 30px 0; height: 100%;}
    .widgets-wrap{display: flex; flex-direction: column; justify-content: space-between; height: 100%;}
    .widgets-top{}
      .widgets-title{text-transform: uppercase; padding-bottom: 5px; line-height: 1;}
      .widgets-subtitle{color: #818282;}
    .widgets-quote{margin-top: 25px; padding-left: 14px; border-left: 2px solid #EA1B44; color: #040606; max-width: 305px; margin-bottom: 10px;}
    .widgets-anons{color: #4D4F4F; margin-bottom: 16px;}
    .widgets-time{}
      .widgets-time span{color: #818282; margin-right: 20px;}
      .widgets-time .custom-select{border: 1px solid #E1E1E1; padding: 7px 15px 7px 10px;}
    .widgets-bottom{display: flex; margin-top: 26px; align-items: center;}
      .widgets-price{color: #040606; margin-left: 41px; text-transform: uppercase;}
    .widgets-vertical{display: flex; flex-direction: column; justify-content: space-between; height: 100%; align-items: flex-end;}
      .widgets-link{height: 48px; display: flex; align-items: center; justify-content: flex-end;}
      .widgets-link span{position: relative; text-transform: uppercase;}
      .widgets-link span:before{content: ''; background: url(../i/video-icon.svg) no-repeat; width: 14px; height: 14px; display: inline-block; vertical-align: inherit; margin-right: 7px;}
      .-h100{height: 100%;}

    


.footer{padding-top: 48px; padding-bottom: 56px; background: #FAFAFA;}
  .-footer-row{align-items: center;}
  .-col-flogo{}

  .-col-fcontacts{}
    .footer__logo{}
    .footer__copy{}
    .footer__navbar{}
    .footer__contacts{justify-content: space-between; display: flex; flex-wrap: wrap}
      .footer__contacts a{text-decoration: none; white-space: nowrap; position: relative; border-bottom: 1px solid transparent; margin-left: 24px; }
      .footer-phone:before { content: ''; background: url(../i/call.svg)no-repeat; width: 14px; height: 14px; position: absolute; top: 50%; transform: translateY(-50%); left: -24px; display: block; }
      .footer-mail:before{content: ''; background: url(../i/mail.svg)no-repeat; width: 14px; height: 12px; position: absolute; top: 50%; transform: translateY(-50%); left: -24px; display: block;}

.footer__bottom{display: flex; align-items: center; justify-content: space-between; padding-top: 56px; border-top: 1px solid rgba(4, 6, 6, 0.5); margin-top: 40px;}
  .copy{color: rgba(4, 6, 6, 0.5);}


@media(max-width: 1600px){
  .-col-contacts{width: 25%;}
  .-team-row{align-items: flex-end;}
  .team__info{margin-top: 0; margin-bottom: 60px;}
  .team__other{margin-bottom: 316px;}
  .iconsult__person{margin-left: 100px;}
  .section__title{top: 15%;}
  .iteams .swiper-nav{width: 24%; right: 0;}
}


@media(max-width: 1439px){
  .-col-navbar{display: none;}
  .-col-contacts{width: 70%;}
  .header__contacts{max-width: 352px;}
  .itop__info{z-index: 3;}
  .itop__img{margin-right: 0;}
  .itop__title{font-size: 60px;}
  .-ipdf-row{padding: 60px 60px;}
  .ipdf__img{width: 900px; margin-left: -21px;}
  .-iservices-row{margin-right: calc(-.5 * var(--bs-gutter-x)); margin-left: calc(-.5 * var(--bs-gutter-x));}
  .-iservices-col{padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);}
  .projects__nav .nav-tabs .nav-link{margin-right: 7px;}
  .iconsult__info {padding: 60px 0 60px 60px;}
  .iconsult__title{font-size: 62px;}
  .team-gallery{flex-wrap: wrap;}
  .team-gallery img{margin-bottom: 5px;}
  .nav-menu .nav-link{margin-right: 30px;}
  .footer__contacts{justify-content: flex-end;}
  .footer-phone{margin-bottom: 5px;}
  .iconsult__photo{max-width: 524px;}
  .-col-burger{display: block;}
  
}

@media(max-width: 1199px){
  .-col-logo{width: auto;}
  .-col-contacts{width: 50%;}
  .-header-row{justify-content: space-between;}
  .header__contacts:after{display: none;}
  .header__contacts{margin: auto; padding-right: 0;}
  /* .itop__list{margin-top: 20px; display: flex; justify-content: space-between; margin-left: -20px; margin-right: -20px;}
  .itop__list li{width: 33%; padding-left: 20px; padding-right: 20px; margin-bottom: 0;} */
  .itop__info{position: static;}
  .itop__img{ position: absolute; bottom: 0; right: 0; }
  .itop-row{position: static;}
  .itop-row{justify-content: flex-start;}
  .itop__list{margin-top: 40px;}
  .itop__list li{margin-bottom: 30px;}
  .itop{padding-top: 100px;}
  .ipdf__img{margin-left: -77px; margin-top: -30px; width: 120%;}
  .-ipdf-row{ max-height: 710px; }
  .iservices-item{padding: 36px;}
  .section__title, .iconsult__title{font-size: 42px;}
  .projects__nav .nav-tabs .nav-link{margin-bottom: 10px;margin-right:10px}
  .project__name{position: relative;}
  .project-logo{position: absolute; top: 0; left: 0;}
  .project-link{display: block; padding-left: 68px;}
  .iconsult__person{margin-left: 60px; padding-top: 0;}
  .iconsult__photo{left: 45%;}
  .iteams .section__title{position: static;}
  .teams__nav{right: 0; top: 0;}
  .-col-team-left{order:10}
  .-col-team-right{display: none;}
  .-col-team-center{order:30}
  .team__info .team__other{display: block; margin-top: 0; margin-bottom: 0;}
  .team__info{margin-bottom: 0;}
  .team__other{border-bottom: 0;}
  .iteams .swiper-nav{width: 36%; right: 0; position: absolute; top: 192px;    bottom: auto;}
  .team__btn{padding-bottom: 40px;}
  .widgets-vertical{ flex-direction: inherit; align-items: center; margin-top: 20px; }
}

@media(max-width: 991px){
 .itop-row .itop__img{display: none;}
 .itop__img{position: relative;margin-top: 0;}
 /* .itop__title br{display: none;} */
 .itop__info{max-width: none;}
 .ipdf .container{padding: 0;}
 .projects__btn{margin-top: 15px; text-align: center;}
 .projects .section__top .section__btn{display: none;}
 .project__anons{padding-left: 67px;}
 .video{text-align: center;}
 .video-caption{text-align: center; padding-bottom: 40px;}
 .iconsult .container{padding: 0;}
 .iteams .swiper-nav{width: 43%;}
 .-col-flogo{order: 1;}
 .-col-fnav{order: 3;}
 .-col-fcontacts{order: 2;}
 .footer__contacts{align-items: center;}
 .footer__contacts a{margin-bottom: 0; margin-right: 20px;}
 .footer__navbar .nav-menu{width: 100%; justify-content: center; margin-top: 20px;}
 .widgets-vertical{ flex-direction: column; align-items: center; margin-top: 0; }
}


@media(max-width: 767px){
  .-col-contacts{display: none;}
  .ipdf__img{width: 140%; margin-left: -84px; margin-top: -17px;}
  .projects__nav{overflow-x: auto;}
  .projects__nav .nav-tabs{flex-wrap: nowrap; min-width: 1145px;}
  .project-before, .project-after{max-width: 100%;}
  .teams__nav{right: auto; left: 0; top: 112px;}
  .team-item{padding-top: 156px;}
  .iteams .swiper-nav{display: none;}
  .widgets-vertical{ flex-direction: inherit; align-items: center; margin-top: 20px; }

}

@media(max-width: 575px){
  h1, .h1{font-size: 40px;}
  .widgets-title{font-size: 30px;}
  .widgets-title br{display: none;}
  .footer__contacts{flex-direction: column; align-items: flex-start; margin-top: 30px;}
  .footer__contacts a{display: block; margin-bottom: 10px;}
  .container{padding-left: 15px; padding-right: 15px;}
  .header .logotype img{max-width: 100px;}
  .itop__title{font-size: 45px;}
  .itop__title br{display: none;}
  .itop__subtitle{font-size: 30px;}
  .header{padding-top: 30px; padding-bottom: 30px;}
  .itop{padding-top: 50px;}
  .itop__btn .btn{width: 100%;}
  .itop__img:after {top: 72%; right: 0;}
  .-ipdf-row{padding: 25px;}
  .section__title, .iconsult__title{font-size: 45px;}
  .ipdf__btn .btn{width: 100%;}
  .ipdf__img{    width: 130%; margin-left: -45px; margin-top: 30px;}
  .-ipdf-row{max-height: 647px;}
  .iservices .container{padding: 0;}
  .iservices-item{padding: 25px;}
  .-iservices-col{margin-bottom: 25px;}
  .iservices-title{min-height: auto;}
  .projects .section__title{font-size: 42px;}
  .accord-item.active .project__more, .project__more{top: 28%;}
  .-col-video{order: 30;}
  .-col-before{order: 10;}
  .-col-after{order: 20;}
  .iconsult__info{padding: 25px;}
  .iconsult__title{font-size: 39px;}
  .iconsult__subtitle{font-size: 25px;}
  .iconsult__btn .btn{width: 100%;}
  .iconsult__photo{max-width: 70%; height: 393px; position: static; margin: 0 0 0 auto;}
  .iconsult__person{margin-left: 25px; bottom: 160px; position: absolute; left: 0;}
  .iconsult__photo img{height: 100%; object-fit: cover; object-position: left;}
  .iconsult__person:before{content: ''; background: url(../i/list-icon.svg)no-repeat; width: 18px; height: 18px; display: block; margin-bottom: 20px;}
  .ipartners .swiper-nav{display: none;}
  .slider__info{display: block;}
  .iteams .section__title{font-size: 40px;}
  .team__btn .btn {width: 100%;}
  .footer__contacts{border-top: 1px solid rgba(4, 6, 6, 0.2); padding-top: 25px; border-bottom: 1px solid rgba(4, 6, 6, 0.2); padding-bottom: 25px;}
  .footer__navbar .nav-menu{flex-direction: column; justify-content: flex-start; align-items: flex-start;}
  .footer__navbar .nav-menu .nav-item{padding-bottom: 25px;}
  .footer__bottom{margin-top: 0; padding-top: 25px; border-top: 1px solid rgba(4, 6, 6, 0.2); flex-direction: column; align-items: flex-start}
  .footer__bottom .copy{display: block; margin-bottom: 5px;}
  .widgets-vertical{ flex-direction: column; align-items: center; margin-top: 0; }
  .widgets-bottom{    align-items: center; flex-direction: column-reverse;}
  .widgets-price{margin-left: 0;margin-bottom: 20px;}
  
}
